 @model List<ResultAboutDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ana Sayfa Hakkımızda Alanı</h4>
                        <p class="card-subtitle mb-4">
                            Ana Sayfanın ve hakkımda sayfasının hakkımda alanında bulunan bilgileri aşağıdan düzenleyebilirsiniz. Tema bütünlüğünün bozulmaması adına lütfen sadece 1 tane giriş yapınız. Aksi durumlarda tema bütünlüğü bozulacaktır.'
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">

                                @if (Model.Any())
                                {

                                    <thead>
                                        <tr>
                                            <th>Başlık</th>
                                            <th>Açıklama</th>
                                            <th>Görsel</th>
                                            <th>Sil</th>
                                            <th>Güncelle</th>
                                            <th>Youtube'da Aç</th>
                                        </tr>
                                    </thead>
                                }
                                else
                                {
                                    <span><b>Hiçbir kayıt bulunamadı. Aşağıdaki butondan ekleyebilirsiniz.</b></span>
                                }
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Title</td>
                                            <td>@item.Description</td>
                                            <td>@item.ImageUrl</td>
                                            <td><a href="/Admin/AdminAbout/RemoveAbout/@item.AboutID" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/Admin/AdminAbout/UpdateAbout/@item.AboutID" class="btn btn-outline-success">Güncelle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminAbout/CreateAbout" class="btn btn-outline-primary mt-2">Yeni Hakkımda Alanı Girişi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


